# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.envrc
.venv/

# macOS
.DS_Store

# Large data files
data/raw/
data/processed/

# Model files
*.joblib
*.pkl

# Plots / results
*.png
*.pdf

# IDE
.vscode/
.idea/
